apiVersion: apps/v1
kind: Deployment
metadata:
  name: java-api-deployment

spec:

  replicas: 3

  strategy:
    type: Recreate

  selector:
    matchLabels:
      app: java-api

  template:  
    metadata:
      labels:
        app: java-api
    spec:
      containers:
        - name: java-api
          image: nachomillangarcia/axpe-java-api:latest
          ports:
          - containerPort: 80    
          resources:
            requests:
              memory: 150Mi
              cpu: 100m
            limits:
              memory: 150Mi
              cpu: 100m
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            failureThreshold: 3
            periodSeconds: 5
