apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment

spec:

  replicas: 1

  strategy:
    type: Recreate

  selector:
    matchLabels:
      app: nginx

  template:  
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          image: nginx:1.28.1
          ports:
          - containerPort: 80    
          resources:
            requests:
              memory: 64M
              cpu: 100m
            limits:
              memory: 128Mi
              cpu: 100m
          volumeMounts:
          - name: my-pvc
            mountPath: /parsistent

      volumes:
      - name: my-pvc
        persistentVolumeClaim:
          claimName: example-pvc

